{% extends "base.html" %}

{% load i18n %}
{% load feed %}

{% block title %}Newsletter Confirmation{% endblock %}

{% block content %}

<p class="messages">
    {% if success %}
        Thank you for subscribing to receive the TB Online Weekly Newsletter. Please go to your email to confirm your subscription
    {% else %}
        {% if error %}
        There was an error while trying to add your email to our newsletter. Please check your email address and try again.
        <form name="notify" action="{% url notify_post  %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="name" value="post" id="id_name" />
            <input type="text" name="recipient_email" placeholder="Email Address"/><br/>
            <input type="submit" value="{% trans "Subscribe" %}"/>
        </form>
        {% else %}
        Thank you for you interest. Your email has already been subscribed before.
        {% endif %}
    {% endif %}

</p>

{% endblock %}
