{% load url from future %}
{% load i18n %}
{% load notification_tags %}

<div id="login">
    <form name="notify" action="{% url 'notify_post'  %}?next={{request.path}}" method="post">
        {% csrf_token %}
        <p>{% trans "To subscribe to the Weekly Newsletter of new posts, enter your email here:" %}</p>
        <input type="hidden" name="name" value="post" id="id_name" />
        <input type="text" name="recipient_email" /><br/>
        <input type="submit" value="{% trans "Subscribe" %}"/>
    </form>
</div>
